<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <head>
<!--    <script src="../public/js/angular.min.js"></script>-->

        <title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
        
    </head>

    <body >
        <div class="header-nav">
			<h1><a href="http://localhost:3000/"> WebMark</a> - <%= title %> Page</h1>	
			<div>
				  <nav id='nav_bar'>
					<ul class='nav_links'>
					  <li><a href="http://localhost:3000/root">Root</a></li>
					  <li><a href="http://localhost:3000/manager">Manager</a></li>
					  <li><a href="http://localhost:3000/admin">Admin</a></li>
					  <li><a href="http://localhost:3000/marker">Marker</a></li>
					</ul>
				  </nav>
			</div>


			
			
        </div>
