<html>
    <head>
        <title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body background="glenn-carstens-peters-203007.jpg">
        <div class="splash-text">
			<h1> <%= title %></h1>	
			<div>
				<p>A marking and student feedback tool.</p>
			</div>
			
        </div>   
		

