<!--
including header content which is common for all pages
-->
<%- include layouts/header-gen.ejs %> 

<h2>this is the manager stub page</h2>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>